#root {
  display: grid;
  align-items: center;
  justify-items: center;
}

img.card-img-top.melonCard {
  width: 100%;
  height: 35vh;
}

div.mainPageItems {
  display: flex;
  flex-direction: row-reverse;
  margin: 10%;
}

.card-title {
  font-family: cursive;
}

/* div.col-md-4 {
  display: contents;
} */

/* .entireCalendar {
  height: 300px;
  object-fit: cover;
} */

div.react-calendar.calendarCssTag {
  object-fit: cover;
  height: 410px
}

.melonCard {
  object-fit: cover;
  height: 410px;
  width: 100% !important;
  max-width: none !important;
}

div.dateSelected {
  display: flex;
  justify-content: center;
}

div.timeRangeModal {
  display: flex;
  justify-content: center;
}

/* .calendarCssTag {
  width: 100% !important;
  max-width: none !important;
  margin-bottom: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
} */

/*
div.react-calendar {
  width: 100% !important;
  max-width: none !important;
} */

/* .dateSelected {
  margin: 15px;
} */

button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background: rgba(0, 0, 0, 0.125);
}

/* button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend__tile--active {
  background-color: #f0f0f0;
  color: #ababab;
} */

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color: black
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background: mediumaquamarine;
}
